<!-- Modal Structure -->
<div class="modal modal-detalle-pelicula">
  <div *ngIf="pelicula">
    <div class="portada" style="background: url(https://image.tmdb.org/t/p/w500/{{pelicula.backdrop_path}}); position: relative;">
      <a class="btn-floating btn-large waves-effect waves-light amber"><i class="material-icons white-text">star</i></a>
      <div class="title">
        <strong>{{pelicula.title}}</strong>
      </div>
    </div>

   
    <div class="p-15">
      <h5 class="m-0 mb-5"></h5>
      <p>{{pelicula.overview}}</p>
    </div>
  </div>

</div>
